<!-- wp:template-part {"slug":"header","tagName":"header"} /-->

<!-- wp:group {"layout":{"type":"constrained"}} -->
<div class="wp-block-group">
  <!-- wp:heading {"level":3,"align":"wide","style":{"typography":{"textTransform":"uppercase"}},"className":"peak-single-back-link"} -->
  <h3 class="alignwide peak-single-back-link" style="text-transform:uppercase"><a href="/blog" data-type="URL" data-id="/blog">Thoughts &amp; Resources</a></h3>
  <!-- /wp:heading -->
  
  <!-- wp:group {"tagName":"main","align":"wide","layout":{"type":"constrained","contentSize":"1000px","wideSize":"1440px"}} -->
  <main class="wp-block-group alignwide"><!-- wp:post-title {"level":1} /-->
  
  <!-- wp:group {"style":{"spacing":{"blockGap":"var:preset|spacing|outer"}},"layout":{"type":"flex","flexWrap":"nowrap"}} -->
  <div class="wp-block-group">
    
    <!-- wp:post-author {"showAvatar":false,"showBio":false} /-->

    <!-- wp:paragraph -->
    <p>|</p>
    <!-- /wp:paragraph -->
  
    <!-- wp:post-date /-->
  </div>
  <!-- /wp:group -->
  
  <!-- wp:post-featured-image /-->
  
  <!-- wp:post-content {"layout":{"type":"constrained"}} /-->
  
  <!-- wp:spacer {"height":"var(\u002d\u002dwp\u002d\u002dpreset\u002d\u002dspacing\u002d\u002d30)"} -->
  <div style="height:var(--wp--preset--spacing--30)" aria-hidden="true" class="wp-block-spacer"></div>
  <!-- /wp:spacer --></main>
  <!-- /wp:group --></div>
  <!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"footer"} /-->
