<!-- wp:template-part {"slug":"header","tagName":"header"} /-->

<!-- wp:group {"tagName":"main"} -->
<main class="wp-block-group">
  <!-- wp:group {"layout":{"type":"constrained"}} -->
  <div class="wp-block-group is-layout-constrained">
  <!-- wp:group {"align":"wide"} -->
  <div class="wp-block-group alignwide">
		
    <!-- wp:post-featured-image {"align":"wide"} /-->
		
    <!-- wp:post-title {"level":1} /-->
	

  <!-- wp:post-content {"layout":{"type":"constrained"}} /-->
  
  <!-- wp:spacer {"height":"var(--wp--preset--spacing--30)"} -->
  <div style="height:var(--wp--preset--spacing--30)" aria-hidden="true" class="wp-block-spacer"></div>
  <!-- /wp:spacer -->
  
  <!-- wp:heading {"level":1,"align":"wide","className":"custompost-backlink"} -->
  <h2 class="alignwide custompost-backlink"><a href="/team" data-type="URL" data-id="/team">Our team</a></h2>
  <!-- /wp:heading -->
  
  <!-- wp:spacer {"height":"var(--wp--preset--spacing--30)"} -->
  <div style="height:var(--wp--preset--spacing--30)" aria-hidden="true" class="wp-block-spacer"></div>
  <!-- /wp:spacer -->

</div>
<!-- /wp:group -->
</div>
<!-- /wp:group -->

</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"footer"} /-->
