@use '../mixins/mqs.scss' as mq;

.four-t-columns {
  --gap: 2em;

  position: relative;
  padding-top: 2em;
  counter-reset: four-ts;

  @media (min-width: 1000px) {
    width: 90%;
  }
  
  &, & > .wp-block-column > .wp-block-columns {
    gap: var(--gap)!important;
  }
}
.four-t-teams,
.four-t-traction,
.four-t-thesis,
.four-t-timing {
  position: relative;

  & .wp-block-heading {
    position: relative;
    counter-increment: four-ts;
    padding-right: 1.25em;
  }
  & .wp-block-heading:after {
    content: counter(four-ts);
    height: 1em;
    width: 1em;
    font-size: .5em;
    font-weight: 400;
    line-height: 1;
    padding: .25em;
    display: inline-block;
    text-align: center;
    background-color: var(--wp--preset--color--contrast);
    color: var(--wp--preset--color--base);
    border-radius: 50%;
    position: absolute;
    top: .666em;
    right: 0;
  }
  &:hover .wp-block-heading:after {
    background-color: var(--wp--preset--color--base);
    color: var(--wp--preset--color--contrast);
  }

  &:hover {
    border-left-color: transparent;
    color: var(--wp--preset--color--base);
  }
  &:hover .wp-block-separator {
    border-color: var(--wp--preset--color--base);
  }
  &:after {
    content: '';
    position: absolute;
    left: 0;
    top: -1em;
    right: -1em;
    bottom: -1em;
    background-color: var(--wp--preset--color--contrast);
    border-radius: 0 0 0 0;
    z-index: -1;
    opacity: 0;
    transition: all 0.5s ease-out;
  }
  &:hover:after {
    opacity: 1;
    border-radius: 0 0 1em 0;
  }
}
.four-t-traction {
  & .wp-block-heading:after {
    background-color: var(--wp--preset--color--peak-pink);
  }
  &:hover .wp-block-heading:after {
    color: var(--wp--preset--color--peak-pink);
  }
  &:after {
    background-color: var(--wp--preset--color--peak-pink);
  }
}
.four-t-thesis {
  & .wp-block-heading:after {
    background-color: var(--wp--preset--color--peak-blue);
  }
  &:hover .wp-block-heading:after {
    color: var(--wp--preset--color--peak-blue);
  }
  &:after {
    background-color: var(--wp--preset--color--peak-blue);
  }
}
.four-t-timing {
  margin-top: var(--gap)!important;
  
  & .wp-block-heading:after {
    background-color: var(--wp--preset--color--peak-green);
    color: var(--wp--preset--color--contrast);
  }
  &:hover .wp-block-heading:after {
    color: var(--wp--preset--color--peak-contrast);
  }
  &:hover {
    color: var(--wp--preset--color--contrast);

    & .wp-block-separator {
      border-color: var(--wp--preset--color--contrast);
    }
  }
  &:after {
    background-color: var(--wp--preset--color--peak-green);
  }
}